@model Customer
@{
    ViewData["Title"] = $"{Model.Address}";
}

<div class="grid-container">
    <img id="customer-image" src="~/images/housepictures/@Model.ImageName" alt="Thumbnail Image" />
    <p class="grid-name ">Customer: @Model.FirstName @Model.LastName</p>
    <p class="grid-id">ID: @Model.ID</p>
    <p class="grid-address">Address: <a href="https://www.google.com/maps/search/?api=1&query=@Model.Address" class="address-link" target="_blank">@Model.Address</a></p>
    <p class="grid-city">City: @Model.City</p>
    <p class="grid-phone">Phone Number: @Model.PhoneNumber</p>

    <a asp-controller="Job" asp-action="AddJob" asp-route-id="@Model.ID" class="grid-add-job">
        <input type="submit" value="Add A Job" />
    </a>

    <a asp-controller="Job" asp-action="ViewJobs" asp-route-id="@Model.ID" class="grid-view-job">
        <input type="submit" value="View Jobs" />
    </a>
</div>